* {
    box-sizing: boder-box;
    padding: 0;
    margin: 0;
}

html {
    background-color: #f1faff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* CCS PARA EL BODY */

.container__cards {
    display: flex;
    flex-wrap: flex;
    justify-content: center;
}




.card .cover video {
    width: 100%;
    display: block;
}

.card .description h2 {
    margin-top: 10px;
    color: #93bde5;
  }
  
  .card .description p {
    margin-top: 10px;
    color: #686868;
    font-size: 17px;
  }