* {
      padding: 0px;
      margin: 0px;
      box-sizing: border-box;
      font-family: sans-serif;
}
header {
      width: 100%;
      height: 80px;
      background-color: rgba(0, 0, 0, 0.9);
      position: fixed;
}
.cab_nav {
      width: 100%;
      padding: 10px;
      text-align: center;
      position: fixed;
      top: 0px;
}

.cab_nav ul li {
      list-style: none;
      display: inline-block;
      padding: 10px 20px;
      color: white;
      font-size: 20px;
      font-family: sans-serif;
      cursor: pointer;
      text-transform: uppercase;
}

.cab_nav ul li a {
      text-decoration: none;
      color: white;
}

.nomb_logo {
      width: auto;
      padding: 0px 20px;
      float: right;
      position: relative;
      top: 5%;
      /* left: 2%; */
      color: #fff;
      font-size: 30px;
}
.logo_img {
      width: 200px;
      position: relative;
      float: left;
      transform: translateY(-20px);
}

/*******************************/
/*                             */
/*        MAIN CONTAINER       */
/*                             */
/*******************************/

/* .main__container {
      width: 100%;
      overflow: hidden;
} */

/*******************************/
/*                             */
/*        VIDEO BANNER         */
/*                             */
/*******************************/

.video__banner {
      width: 100%;
      margin-bottom: -5px;
      margin-top: 80px;
}

.bebito_fiu_fiu {
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      background-color: #131313;
}

.fondo_p {
      width: 100%;
      height: 100vh;
      background: url(../imagenes/formateo_de_lap.jpg);
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
}
.fondo_p h2 {
      font-size: 60px;
      color: #fff;
}
.seccion_f {
      width: 100%;
      overflow: hidden;
      margin: auto;
      color: #9eff99;
      padding: 80px 0px;
      background-color: #131313;
}
.seccion {
      background: url(../imagenes/mtto_a_lap.jpg);
      width: 100%;
      height: 100vh;
      background-position: center;
      position: center;
      background-size: cover;
      background-attachment: fixed;
      justify-content: center;
      align-items: center;
}
.seccion h2, .seccion_2 h2, .seccion_3 h2 {
      font-size: 60px;
      text-align: center;
      padding: 400px 0px;
      color: #fff;
}

.titulos {
      font-size: 35px;
      text-align: center;
      color: #6892d2;
}
.parrafos {
      font-size: 20px;
      padding: 20px;
      text-align: justify;
      max-width: 1366px;
      margin: 0 auto;
}



/* REPLICAS DE SECCIONES */

.seccion_2 {
      background: url(../imagenes/kit_de_iot.jpg);
      width: 100%;
      height: 100vh;
      background-position: center;
      position: center;
      background-size: cover;
      background-attachment: fixed;
      justify-content: center;
      align-items: center;
}

.seccion_3 {
      background: url(../imagenes/formateo_de_mac.jpg);
      width: 100%;
      height: 100vh;
      background-position: center;
      position: center;
      background-size: cover;
      background-attachment: fixed;
      justify-content: center;
      align-items: center;
}

/* .video {
      position:fixed;
      min-width: 100%;
      min-height: 100%;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      z-index: -1;
} */

.marca{
      background-color: rgba(0, 0, 0, 0.6);
}

.foot {
      background-color: yellow;
      width: 100%;
      height: auto;
}

.foot_p {
      color: red;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight:bolder;
}

/*******************************/
/*                             */
/*     PANTALLA CELULARES      */
/*                             */
/*******************************/

@media only screen and (max-width: 1024px) {
      
      * {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
            font-family: sans-serif;
      }
      header {
            width: 100%;
            height: 80px;
            background-color: rgba(0, 0, 0, 0.4);
            position: fixed;
      }
      .cab_nav {
            width: 100%;
            /* padding: 20px; */
            text-align: left;
            /* position: fixed; */
            top: 0px;
            background-color: rgba(0, 0, 0, 0.9);
      }

      .cab_nav .nav_menu {
            display: flex;
            width: 100%;
      }

      .cab_nav ul li {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
            /* padding: 1rem 0rem; */
            color: white;
            /* font-size: 20px; */
            font-family: sans-serif;
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.6);
            letter-spacing: 10px;
            
            text-transform: uppercase;
      }
      
      .cab_nav ul li a {
            text-decoration: none;
            color: white;
      }

      
      .nomb_logo {
            display: none;
            width: 330px;
            padding: 0px 0px;
            float: left;
            position: relative;
            top: 5%;
            left: 2%;
            color: #fff;
            font-size: 20px;
      }
      .logo_img {
            display: none;
            width: 200px;
            position: relative;
            float: left;
            transform: translateY(-20px);
      }

      .video__banner {
            display: none;
      }

      .fondo_p {
            width: 100%;
            height: 50vh;
            background: url(../imagenes/celular/cel-laptop.jpg);
            background-position: center;
            /* background-size:cover; */
            background-attachment: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 235px;
      }
      .fondo_p h2 {
            font-size: 20px;
            color: #fff;
      }
      .seccion_f {
            width: 100%;
            overflow: hidden;
            margin: 0px;
            color: #9eff99;
            padding: 0px 0px;
            background-color: #2a2a2a;
      }
      .seccion {
            background: url(../imagenes/celular/cel-mtto.jpg);
            width: 100%;
            height: 50vh;
            background-position: center;
            position: center;
            /* background-size: cover; */
            background-attachment: fixed;
            justify-content: center;
            align-items: center;
      }
      .seccion h2, .seccion_2 h2, .seccion_3 h2 {
            font-size: 20px;
            text-align: center;
            padding: 200px 0px;
            color: #fff;
      }
      
      .titulos {
            font-size: 15px;
            text-align: center;
            padding: 40px 0px;
      }
      .parrafos {
            font-size: 12px;
            padding: 20px;
            text-align: justify;
            margin-bottom: 30px;
      }
      
      /* REPLICAS DE SECCIONES */
      
      .seccion_2 {
            background: url(../imagenes/celular/cel-casa-inteligente.jpg);
            width: 100%;
            height: 50vh;
            background-position: center;
            position: center;
            /* background-size: cover; */
            background-attachment: fixed;
            justify-content: center;
            align-items: center;
      }
      
      .seccion_3 {
            background: url(../imagenes/celular/cel-mac.jpg);
            width: 100%;
            height: 50vh;
            background-position: center;
            position: center;
            background-size: cover;
            background-attachment: fixed;
            justify-content: center;
            align-items: center;
      }

      
      
      body .foot {
            background-color: yellow;
            width: 100%;
            height: auto;
      }
      
      body .foot .foot_p {
            color: red;
            text-align: center;
            text-transform: uppercase;
            font-size: 1rem;
            font-weight:bolder;
      }
    
}