* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    /* border: 10px solid gray; */
    /* background-image: url("images/telefono_de_pcymac.jpg"); */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
    color: orange;
    background-color: white;    
}

img {
    width: 100%;
    min-width: 180px;
    max-width: 1128px;
    height: 80%;
}